*{
    margin: 0;
    padding: 0;

}

html,body{
    width: 100%;
    scroll-behavior: smooth;
    background-color: #f6f6f6;
}


/*Estilos del header*/
header{
    width: 100%;
    height: 250px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 95%;
}


/*Estilos del menú de navegacción*/
nav{
    height: 10vh;
    width: 100%;
    display: flex;
    background-color: #9c6644;
    align-items: center;
    justify-content: center;

}

.enlace-contacto{
    text-decoration: none;
    color: inherit;
}

.item-header{
    width: 15%;
    height: 10vh;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.5s;


}

.item-header:hover{
    font-size: 1.3rem;

}


.actual{
    border-bottom: 5px solid white;


}

/*Estilos del main*/
main{
    height: auto;
    width: 100%;
    background-color: rgb(235, 235, 235);
}

#seccion-slider{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 90vh;
    width: 100%;
}

.bienvenido{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4vh;
}

.bienvenido h1{
    font-size: 1rem;
    letter-spacing: 0.2rem;
    cursor: default;

}

#slider{
    background-color: white;
    width: 70%;
    height: 85%;

    box-shadow: 9px 8px 16px -2px rgba(0,0,0,0.89);
    box-shadow: 9px 8px 16px -2px rgba(0,0,0,0.89);
    background-image: url("slider1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#controles{
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.circulo{
    border-radius: 100%;
    width: 1%;
    margin: 0% 0.5%;
    background-color: black;
    height: 40%;
    transition-property: all;
    transition-duration: 0.5s;
    cursor: pointer;
}



#meet-the-artist,
#contacto-section{
    width: 100%;
    /*height: 50vh;*/
    cursor: default;
    background-color: #9c6644;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

#meet{
    width: 80%;
    height: 100%;
}

#meet > h1{
    font-size: 2rem;
    margin: 5% auto;
}

#meet  p{
    font-size: 1.1rem;
    margin: 5% auto;
}

.izquierda{
    text-align: left;
    padding-left: 7%;
}

#meet > h3{
    font-size: 1.3rem;
    margin: 5% auto;
    letter-spacing: 0.2rem;
}

#meet-the-artist2{
    display: flex;
    height: 110vh;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

#imagen-izquierda{
    background-color: white;
    width: 40%;
    height: 85%;

    box-shadow: 9px 8px 16px -2px rgba(0,0,0,0.89);
    box-shadow: 9px 8px 16px -2px rgba(0,0,0,0.89);
    background-image: url("conece_artista.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#texto-derecha{
    width: 50%;
    height: auto;
    cursor: default;
    color: black;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

#texto-derecha > h1{
    font-size: 2rem;
    margin: 2% auto;
}

#texto-derecha > p{
    font-size: 1.2rem;
    margin: 1% auto;
}

.pensamiento{
    font-size: 1.5rem;
}


/*#formulario_mapa{
    display: flex;
    width: 100%;
    height: 80vh;

}*/

/*#formulario, .mapa{
    width: 50vw;
    height: 80vh;
}*/

.contacto{
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

/*#formulario{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}*/

.mapa{
    background-color: white;
    width: 100%;


}

.mapa iframe{
    width: 100%;

}




footer{
    background-color: #9c6644;
    height: 20vh;
    width: 100%;
}

#formulario-div{
    /*width: 70%;*/
    width: 95%;
    height: 70%;
    display: flex;
   /* background-color: rgb(238, 237, 235);*/
    align-items: baseline;
   /* box-shadow: 5px 5px 7px -1px rgba(0,0,0,0.86);
    box-shadow: 5px 5px 7px -1px rgba(0,0,0,0.86);*/
    justify-content: space-around;
    border-radius: 3%;
    flex-wrap: wrap;
}

.datos{
    width: 45%;
    padding: 1%;
    min-width: 270px;
}

form{
    width: 45%;
    min-width: 270px;


}


#formulario-header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: default;
}

#formulario-header > p{
    font-size: 1.4rem;
}

#formulario-header > h1{
    font-size: 2rem;
    margin: 5% auto;
    letter-spacing: 2px;
}

.item-form{
   /* margin: 10% auto;*/
   margin:3% auto;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    width: 90%;

}

input{
    height: 3vh;
    width: 18vw;

}

#name,#surname,#email{
    width: 95%;
    padding: 1%;

}

#mapa{
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit{
   /* background-color: black;*/
    background-color: transparent;
    border:1px solid white;
    width: 10vw;
    color: white;
    font-size: 1rem;
    height: 5vh;
    cursor: pointer;
    transition: all 0.5s;
}

#submit:hover{
    color: #9c6644;
    background-color: rgb(255, 255, 255);
}

.datos{
    text-align: left;
    font-size: 18px;
}

.datos p{
    margin-bottom: 2%;
}

footer,
.redes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

footer{
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

/*footer p{
    cursor: default;
    font-size: 1.3vw;
}*/

img{
    cursor: pointer;
}

.footer-item{
    margin: auto 5%;
    color: white;
    font-size: 25px;
}

.footer-item:hover{
    color: #582f0e;
}





/*Galería de imagenes*/

#galeria_page{
    display: none;
    width: 100%;
    height: auto;
}


.galeria{
    padding-top: 3%;
    height: auto;
    flex-direction: column;
    text-align: center;


}

.galeria h1{
    font-size: 2rem;

}

.galeria p{
    padding: 2%;
    font-size: 1.5rem;
}

.imagenes{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: white;
    box-shadow: 9px 8px 16px -2px rgba(0,0,0,0.89);
    box-shadow: 9px 8px 16px -2px rgba(0,0,0,0.89);
}

.grid-container{

    width: 90%;
    margin:1% 0;


    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 250px;
    padding: 20px;
    grid-gap: 10px;
    grid-auto-flow: dense;

}

.img-gallery{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-item{
    position: relative;
}


.gallery-title{
    position: absolute;
    bottom: 0;
    color: white;
    background: linear-gradient(rgba(255, 255, 255, 0.5),rgba(0, 0, 0, 0.5));
    width: 90%;
    margin:0 ;
    padding: 10px;
    display: none;
}

/*versión mobil width<576px*/
.gallery-item:nth-child(4),
.gallery-item:nth-child(5),
.gallery-item:nth-child(6),
.gallery-item:nth-child(13),
.gallery-item:nth-child(15),
.gallery-item:nth-child(12),
.gallery-item:nth-child(21),
.gallery-item:nth-child(22){
    grid-column-start: span 2 ;

}

/*Área de cursos*/
/*#home_page,
#galeria_page{
    display: none;
}*/

#cursos_page{
display: none;
   height: auto;
}


.img-curso{
    width: 100%;
    height: 45%;
    object-fit: cover;

}

.curso-item{
    grid-column-start: span 2 ;
    grid-row-start: span 2 ;
    width: 100%;
    overflow: auto;
    border-radius: 15px;
    position: relative;

}

.grid-container2{
    width: 90%;
    grid-gap: 25px;


}

.curso-title{
    position: absolute;
    bottom:55%;
    color: white;
    background: linear-gradient(rgba(255, 255, 255, 0.11),rgb(0, 0, 0));
    margin:0 ;
    padding: 10px;
    padding: 3%;

}

.curso-item p{
    padding: 5%;


}





/*Versión escritorio width>576px*/
@media screen and (min-width:576px) {
    .gallery-item:nth-child(12),
    .gallery-item:nth-child(21){
        grid-row-start: span 2 ;
        grid-column-start: span 2 ;

    }

    .gallery-item:nth-child(8),
    .gallery-item:nth-child(9){
        grid-row-start: span 2 ;


    }

}





/*Versión escritorio width>768px*/
@media screen and (min-width:768px) {
    .grid-container{

        grid-template-columns: repeat(3,1fr);

    }



    .gallery-item:nth-child(10)
    {
        grid-row-start: span 2 ;

    }

 /*CURSOS*/
    .grid-container2{
        width: 90%;
        grid-template-columns: repeat(4,1fr);



 }

    .curso-item:nth-child(1){
        grid-row: 1/3;


    }

    .curso-item:nth-child(2){
        grid-row: 2/4;


    }

    .curso-item:nth-child(3){
        grid-row: 3/5;


    }


}

/*Versión escritorio width>990px*/
@media screen and (min-width:990px) {


    .grid-container{

        grid-template-columns: repeat(4,1fr);

    }


    .grid-container2{

        grid-gap: 150px;

    }


    .gallery-item:nth-child(4),
    .gallery-item:nth-child(6),
    .gallery-item:nth-child(12),
    .gallery-item:nth-child(19)
    {
        grid-column-start: span 2 ;
        grid-row-start: span 1 ;

    }

    .gallery-item:nth-child(1),
    .gallery-item:nth-child(8),
    .gallery-item:nth-child(9),
    .gallery-item:nth-child(10){
        grid-row-start: span 2 ;
        grid-column-start: span 2 ;

    }

    .gallery-item:nth-child(21)
    {
        grid-column-start: span 1;
        grid-row-start: span 1;


    }
}


/*Versión escritorio width>1100px*/
@media screen and (min-width:1100px) {

    .gallery-item:nth-child(4),
    .gallery-item:nth-child(6){
        grid-column-start: span 1;
        grid-row-start: span 1;


    }

    .gallery-item:nth-child(8){
        grid-row-start: span 2 ;
        grid-column-start: span 1 ;

    }


    .gallery-item:nth-child(12),
    .gallery-item:nth-child(20){
        grid-row-start: span 2 ;
        grid-column-start: span 2 ;

    }
    .gallery-item:nth-child(5),
    .gallery-item:nth-child(13),
    .gallery-item:nth-child(15),
    .gallery-item:nth-child(22){
        grid-column-start: span 2 ;

    }

    .gallery-item:nth-child(8),
    .gallery-item:nth-child(9),
    .gallery-item:nth-child(10),
    .gallery-item:nth-child(19){
        grid-column-start: span 1 ;

    }


}

@media screen and (max-width: 400px){

    header{
        height: 20vh;
    }
    .logo{
        height: 15vh;
    }


    nav{
        background-color: #9c6644;
    }
    .item-header{
        font-size: 1rem;
        display: flex;
        margin: 10px;
        align-items: center;
        align-content: space-around;
        justify-content: center;
        text-align: center;
    }

    .item-header:hover{
        font-size: 1.2rem;
        transition-property: all;
        transition-duration: 0.5s;
    }


    .bienvenido{


        cursor: default;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
    }

    .bienvenido h1{
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
        margin: 5%;
    }


    #seccion-slider{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
        height: auto;
        width: 100%;
    }

    #slider{
        background-color: white;
        width: 100%;
        height: 65vh;
        box-shadow: none;
        background-image: url("slider1.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #controles{
        display: none;
    }

    #meet-the-artist, #contacto-section{
    width: 100%;
    cursor: default;
    background-color: #9c6644;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    }

    #meet-the-artist{
        height: auto;
    }

    #meet > h1{
        font-size: 2.2rem;
        margin: 5% auto;
    }

    #meet  p{
        font-size: 1.2rem;
        margin: 5% auto;
    }

    .izquierda{
        text-align: left;
        padding-left: 7%;
    }

    #meet > h3{
        font-size: 1rem;
        margin: 5% auto;
        letter-spacing: 0.2rem;
    }

    #meet-the-artist2{
        display: block;
        height: auto;
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        background-color: #f6f6f6;
    }

    #imagen-izquierda{
        background-color: white;
        width: 100%;
        height: 70vh;
        display: block;
        box-shadow: 9px 8px 16px -2px rgba(0,0,0,0.89);
        box-shadow: 9px 8px 16px -2px rgba(0,0,0,0.89);
        background-image: url("conece_artista.JPG");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #texto-derecha{
        margin: 10% auto;
        width: 100%;
        height: 50%;
        cursor: default;
        color: black;
        display: block;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    }

    #texto-derecha > h1{
        font-size: 2.1rem;

    }

    #texto-derecha > p{
        font-size: 1.1rem;
        margin: 2%;

    }

    #meet  h1{
        font-size: 2rem;
        margin: 5% auto;
    }

    #meet > h3{
        font-size: 1.4rem;
        margin: 5% auto;
        letter-spacing: 0.2rem;
    }

    #submit{
        /* background-color: black;*/
         background-color: transparent;
         border:1px solid white;
         width: 20vw;
         color: white;
         font-size: 1.3rem;
         height: 5vh;
         cursor: pointer;
         transition: all 0.5s;
     }

    input{
        height: 3vh;
        width: 18vw;
        background-color: white;
    }

    form{
        width: 100vw;
        min-width: 270px;
    }

}